body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group textarea {
    resize: vertical;
}
.form-group .checkbox {
    margin-top: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: tan;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #8b5f2b;
}